
/var/
.idea/
**/cache
**/vendor
**/node_modules
/public/bundles/
/tools/artifacts/


/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/tests/.env.local
/tests/.env.local.php
/tests/.env.*.local

**/composer.lock
tools/phpunit/.phpunit.result.cache
tools/php-cs-fixer/php-cs-fixer.cache
tools/php-cs-fixer/phpcs.md
tools/phpstan/phpstan.md
ranky.media-bundle.1.0.json
!.gitkeep
!.gitignore
test.sh
.php-cs-fixer.cache
