parameters:
  excludePaths:
    - ../../tests/var/*
    - ../../tests/config/*
    - ../../tests/src/TestKernel.php
    - ../../src/Infrastructure/DependencyInjection/MediaCompilerPass.php
    - ../../tests/src/BaseIntegrationTestCase.php
    - ../../src/Presentation/Form/DataTransformer/
    - ../../src/Infrastructure/DependencyInjection/Configuration.php
    - ../../src/Presentation/Form/EasyAdmin/EARankyMediaFileManagerField.php
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - '#Parameter \#1 (.*) Doctrine\\DBAL\\DriverManager(.*) expects (.*)#'
    - '#(.*)\\Icu\\IntlDateFormatter(.*)#'
    - '#^Call to method getManager\(\) on an unknown class doctrine#'
    - '#Parameter (.*) \$classOrId of static method(.*)#'
    - '#Cannot call method dispatch\(\) on Doctrine\\ORM\\Query\\AST\\Node(.*)#'
    - '#Property (.*)\$medias (.*)Doctrine\\Common\\Collections\\Collection(.*) does not accept(.*)#'
    -
      message: '#Property (.*) is never written, only read#'
      paths:
        - ../../tests/src/Dummy/User/Domain
