{# @var media \Ranky\MediaBundle\Application\DataTransformer\Response\MediaResponse #}
<style>
    .ranky-media-file-show img {
        max-width: 100%;
        object-fit: cover;
        width: 130px;
        height: 130px;
        margin: 0 auto;
        text-align: center;
        flex: 1;
    }
    .ranky-media-file-show ul {
        list-style: none;
        padding: 0;
        margin: 0;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        justify-content: flex-start;
        justify-items: flex-start;
    }
</style>
<div class="ranky-media-file-show">
    <div class="ranky-media-file-show__preview">
        {% if media %}
            {% include [
                '@RankyMedia/preview/mime-show/' ~ media.file.mimeType ~ '_' ~ media.file.mimeSubType ~ '.html.twig',
                '@RankyMedia/preview/mime-show/'~ media.file.mimeType ~'.html.twig'
            ] %}
        {% endif %}
        {% if medias and media == null %}
            <ul>
                {% for media in medias %}
                    <li>
                        {% include [
                            '@RankyMedia/preview/mime-show/' ~ media.file.mimeType ~ '_' ~ media.file.mimeSubType ~ '.html.twig',
                            '@RankyMedia/preview/mime-show/'~ media.file.mimeType ~'.html.twig'
                        ] %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
